body {
  margin: 0;

  font-family: sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#board {
  display: grid;
  border-style: solid;
  width: 400px;
  min-height: 400px;
}
